:root {
	--color-main: #f9322c;
	--color-second: #232323;
	--color-contrast-second: var(--color-bg);
	--color-text: #5b5954;
	--color-with-main: white;
	--color-text-with-second: white;
	--color-text-contrast-with-second: var(--color-second);
	--color-bg: white;
	--color-light: rgba(132, 139, 200, 0.3);
	--color-bg-light: #eaeaea;
	--box-shadow: 0 1rem 1rem var(--color-light);
	--font-text: 'Karla', serif;
	--font-title: 'Karla', serif;
	--color-table-header-bg: #f5f5f5;
	--color-table-td-hover: #f9f9f9;
	/* Toast */
	--color-danger: #a70a1f;
	--color-info: #1dc2e0;
	--color-success: var(--color-main);
	--color-warning: #f8d300;
}
